extends index

block append content
  h2 Signup
  form(name="signup", action="/users/create", method="post")
    div
      label Email
      input(type="text", value=email, name="email")
    div
      label Password
      input(type="password", name="password")
    if errors
      ul
        for error in errors
          li #{error.message}
    div
      input(type="submit", value="Get Started")
      br
      a(href='/login') Login
