body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#card-element {
  width: 300px;
  border: 1px solid #00B7FF;
  border-radius: 10px;
  padding: 2px;
}
